.home-page{
    .content-container{
        align-items: flex-start;
        gap: 3px;
    }

    .details-container{
        width: 100%;
        padding: 10px;
        border-radius: 1em;
        background-color: $clr4;
        .btc{
            img{
                width: 30px;
            }
        }
    }

    .moves-list{
        width: 100%;
    }
}