.contact-details{
    .img-container{
        position: relative;
        a{
            position: absolute;
            top: rem(30px);
            left: rem(240px);
            font-size: 2rem;
            text-decoration: none;
        }
    }
}